<a href="https://colab.research.google.com/github/JulianoMata/projeto_final_mod04/blob/main/grupo02_projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("/content/grupo02.resilia/2021-06-glp.csv", delimiter = ";")
df.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida             Bandeira
0             NE             CE  ...        R$ / 13 kg  NACIONAL GÁS BUTANO
1              N             AC  ...        R$ / 13 kg            AMAZONGÁS
2              N             AC  ...        R$ / 13 kg            AMAZONGÁS
3              N             AC  ...        R$ / 13 kg            AMAZONGÁS
4              N             AC  ...        R$ / 13 kg                FOGAS

[5 rows x 16 columns]

In [ ]:
df.shape

(13418, 16)

In [ ]:
df2 = pd.read_csv("/content/grupo02.resilia/2021-07-glp.csv", delimiter = ";")
df2.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida              Bandeira
0             NE             CE  ...        R$ / 13 kg   NACIONAL GÁS BUTANO
1              S             SC  ...        R$ / 13 kg   NACIONAL GÁS BUTANO
2             NE             MA  ...        R$ / 13 kg              LIQUIGÁS
3             SE             SP  ...        R$ / 13 kg  SUPERGASBRAS ENERGIA
4             SE             SP  ...        R$ / 13 kg              LIQUIGÁS

[5 rows x 16 columns]

In [ ]:
df2.shape

(13418, 16)